* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

div {
    display: block;
}

a {
    color: #2980B9;
    text-decoration: none;
    cursor: pointer;
}

p {
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
}